{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/portifolio.css">
{% endblock styles %}

{% block links %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock links %}

{% block titles %}
{% endblock titles %}

{% block page_header %}
{% include "partials/page-header.html" %}
{% endblock page_header %}

{% block content %}
    <div class="container">

        <div class="cards">
            
            
            {% for item in items %}
            <div class="card" id="{{ item.id }}">
                <div class="card-numbers">
                    <p {{ item.numberClass }}>{{ item.number }}</p>
                </div>

                <img src="{{ item.image }}" alt="Imagen de {{ item.id }}">

                <p>{{ item.description }}</p>

                <div class="content">
                    <p><i class="material-icons">play_arrow</i>{{ item.modules }}</p>

                    <p class="card-price">{{ item.price }}</p>
                </div>
            </div>
            {% endfor %}
            

            

        </div>

    </div>
{% endblock content %}

{% block modal %}
    {% include "partials/modal.html" %}
{% endblock modal %}

{% block scripts %}
    <script src="/scripts/script.js"></script>
{% endblock scripts %}