@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap';
@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

:root {
    --color-green: #50fa7b;
    --backgroundColor: #282a36;
    --rocketseatColor: #7159c1;
}

/*GLOBAL*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: var(--backgroundColor);
    color: #fff;

    font-family: 'Roboto', sans-serif;
}

/*HEADER*/
header {
    padding: 32px;
    border: 1px solid #333;

    background-color: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;
}

.links a {
    margin: 0 16px;
    font-size: 18px;

    color: #fff;
    text-decoration: none;
}

.links a:hover {
    color: var(--color-green);
    transition: color 200ms;
}

/*WRAPPER*/
#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    height: 300px;
    border-radius: 50%;
    border: solid 5px var(--color-green);
    margin-bottom: 32px;
}

#wrapper img:hover {
    border: solid 5px #00f63e;
    transition: 200ms;
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper p {
    max-width: 500px;
    margin: 32px auto;

    font-size: 24px;
    line-height: 24px;
}

#wrapper p a {
    color: var(--color-green);
}

/*LINKS-FOOTER*/
#links-footer a {
    border-bottom: solid 1px var(--color-green);
}

/*>>>CARDS<<<*/

.cards {
    max-width: 800px;
    margin: 0 auto 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    display: grid;
    align-items: center;

    background-color: var(--rocketseatColor);
    border-radius: 5px;
}

.card:hover {
    border: solid 5px var(--color-green);
    transition: 200ms;
}

.card img {
    width: 100%;
    cursor: pointer;
}

.card__content,
.card__info {
    padding: 24px;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card__price {
    background-color: var(--rocketseatColor);
    filter: brightness(90%);
    padding: 5px 25px;
    border-radius: 25px;
    text-align: center;
}

/*//////////////////////////////////////////////////*/
/*MODAL-OVERLAY*/
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;

    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: #000;
    cursor: pointer;

    position: absolute;
    right: 8px;
    top: 8px;
}

/*MODAL ACTIVE*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

/*IFRAME*/

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

/*<FEATURED>*/
.card__image__container.featured-wrapper {
    position: relative;
}

.featured {
    padding: 2px 8px;
    position: absolute;

    border-radius: 16px;
    font-weight: bold;

    top: -10px;
    right: 5px;

    color: #111;
    background-color: yellow;
}

/*VIDEO PAGE*/
.video {
    max-width: 700px;
    margin: 0 auto;
}

.video .card {
    margin-bottom: 50px;
}

.video .card:hover {
    border: none;
}

.card__video__container {
    position: relative;

    padding-top: 62.5%;
}

.card__video__container:hover {
    border: solid 1px var(--color-green);
}

.card__video__container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
