/*HEADER*/
header {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 32px;

    background-color: #222;
}
/*HEADER*/

/*HEADER LINKS*/
header .links a {
    font-size: 24px;
    font-family: 'Roboto';

    text-decoration: none;

    color: #FFF;

    position: relative;
}

header .links a.active {
    font-weight: bold;
}

header .links a+a {
    margin-left: 24px;
}

header .links a::after {
    content: "";

    width: 0;
    height: 2px;

    position: absolute;

    bottom: -4px;
    left: 0;

    background-color: var(--primary-color);
}

header .links a:hover::after {
    width: 100%;

    transition: width 200ms ease-in-out;
}
/*HEADER LINKS*/


/*CARD*/
.card {
    width: 800px;
    min-height: 400px;

    margin: 0 auto;
    margin-top: 64px;

    display: grid;
    grid-template-columns: 40% 60%;

    border-radius: 16px;

    box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.5);

    animation: up 200ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}
/*CARD*/

/*TEACHER*/
.teacher {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

/*DETAILS*/
.details {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

    padding: 32px;

    background-color: #FFF;
}

.details h3 {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: bold;

    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.8);
}
/*DETAILS*/

/*ITEM*/
.item {
    margin-top: 12px;
    
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.item:last-child {
    border: none;
}

.item div:nth-child(1) {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: bold;

    color: #222;
}

.item div:nth-child(2) {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: normal;
    line-height: 32px;

    color: #555;
}

.item span {
    padding: 2px 24px;
    margin: 8px 0px 16px 0;

    border-radius: 24px;

    font-weight: bold;
        
    display: inline-block;

    background-color: var(--primary-color);
}

.item:nth-child(6) span:nth-child(1) {
    padding: 2px 34px;
}

.item:nth-child(6) span:nth-child(2) {
    padding: 2px 26px;
}
/*ITEM*/

/*<------->*/

/*TABLE-CONTAINER*/
.table-container {
    display: block;

    font-family: 'Roboto', sans-serif;

    padding: 40px;

    background-color: #222;
}

.table-container table {
    border-spacing: 0;
}

.table-container thead th {
    font-size: 14px;

    text-align: left;

    text-transform: uppercase;

    color: #fff;
}

th, td {
    padding: 16px;

    border-bottom: solid 1px #555;
}

.table-container tbody td {
    color: #fff;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 40px;
    height: 40px;

    border: solid 1px #777;
    border-radius: 50%;

    background-position: center;
    background-size: cover;
}

tbody tr td:last-child a {
    padding: 8px 16px;

    text-decoration: none;
    text-transform: uppercase;

    border-radius: 4px;

    cursor: pointer;

    color: #111;
    background-color: var(--primary-color);

    transition: background-color 200ms;
}

tbody tr td:last-child a:hover {
    font-weight: bold;

    color: #111;
    background-color: #fff;
}

.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}

tbody tr td:nth-child(2) span {
    padding: 2px 8px;

    border-radius: 4px;

    font-weight: bold;
        
    display: inline-block;

    color: #111;
    background-color: #fff;
}

