@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #50fa7b;
    --second-color: #222;
}

/*GLOBAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*GLOBAL*/

/*BODY*/
body {
    background-color: rgba(0, 0, 0, 0.8);
}

.button {
    width: 100%;

    display: inline-block;

    margin-top: 8px;
    padding: 12px;
    
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: bold;

    text-decoration: none;
    text-align: center;
    
    border: none;
    border-radius: 8px;

    color: #555;
    background-color: var(--primary-color);
}

.button:hover {
    cursor: pointer;

    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.8);

    transition: 200ms;
}

.flex-button {
    display: flex;
}

.flex-button button:first-child {
    margin-right: 5px;

    color: white;
    background-color: rgba(255, 0, 0, 0.781);
}