:root {
    --backgroundColor: #E8EDDF;
    --greenColor: #50fa7b;
    --headerColor: #0F1020;
}

/*GLOBAL*/
* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: var(--backgroundColor);
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/
header {
    padding: 30px;
    text-align: center;

    background-color: var(--headerColor);
}

header div a {
    margin: 0 30px;
    text-decoration: none;

    color: var(--backgroundColor);
}

header div a:hover {
    color: var(--greenColor);
    border-bottom: solid 1px var(--greenColor);
    transition: color 200ms;
    font-weight: bold;
}