<div class="item">
    <div>Avatar URL</div>
    <input type="url" name="avatar" value="{{ student.avatar }}" placeholder="http://">
</div>

<div class="item">
    <div>Aluno</div>
    <div>
        <input type="text" name="name" value="{{ student.name }}" placeholder="nome completo">
    </div>
</div>
<div class="item">
    <div>Email</div>
    <div>
        <input type="email" name="email" placeholder="digite seu email">
    </div>
</div>
<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input type="date" name="birth" value="{{ student.birth }}">
    </div>
</div>
<div class="item">
    <div>Grau de escolaridade</div>
    <div>
        <select name="school">
            <option value="" selected>Selecione</option>
            <option value="5EF">5º ano ensino fundamental</option>
            <option value="6EF">6º ano ensino fundamental</option>
            <option value="7EF">7º ano ensino fundamental</option>
            <option value="8EF">8º ano ensino fundamental</option>
            <option value="9EF">9º ano ensino fundamental</option>
            <option value="1EM">1º ano ensino médio</option>
            <option value="2EM">2º ano ensino médio</option>
            <option value="3EM">3º ano ensino médio</option>
        </select>
    </div>
</div>
<div class="item">
    <div>Carga horária semanal</div>
    <input type="number" name="hour" max="24" min="1">
</div>