{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/create.css">
{% endblock styles %}

{% block title %}
    <title>students</title>
{% endblock title %}


{% block content %}

<form class="card" method="POST" action="/students">
    <section
        class="student" style="background: url(https://source.unsplash.com/collection/1361815/500x500) no-repeat center center / cover">
    </section>

    <section class="details">
        <h3>Novo Aluno</h3>

        {% include "students/partials/fields.html" %}

        <div class="item">
            <button type="submit">Cadastrar</button>
        </div>

    </section>
</form>

{% endblock content %}