{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/style.css">
{% endblock styles %}

{% block title %}
    <title>students</title>
{% endblock title %}


{% block content %}

<div class="card table-container">
    <table width="100%">
        <thead>
            <tr>
                <th>Nome Completo</th>
                <th>Acompanhamento</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>
                    <span style="background-image: url({{ student.avatar }})"></span>
                    {{ student.name }}
                </td>
                <td>
                    {% for work in student.works %}
                    <span class="item">{{ work }}</span>
                    {% endfor %}
                </td>
                <td><a href="/students/{{ student.id }}">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}