{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/style.css">
{% endblock styles %}

{% block title %}
    <title>student</title>
{% endblock title %}


{% block content %}

<div class="card">
    <section class="student" style="background: url({{ student.avatar }}) no-repeat center center / cover">

    </section>

    <section class="details">
        <h3>Detalhes</h3>

        <div class="item">
            <div>Nome Completo</div>
            <div>{{ student.name }}</div>
        </div>
        <div class="item">
            <div>Email</div>
            <div>{{ student.email }}</div>
        </div>
        <div class="item">
            <div>Idade</div>
            <div>{{ student.birth }}</div>
        </div>
        <div class="item">
            <div>Grau de escolaridade</div>
            <div>{{ student.school }}</div>
        </div>
        <div class="item">
            <div>Carga horária semanal</div>
            <div>{{ student.hour }}h</div>
        </div>

        <a class="button" href="/students/{{ student.id }}/edit">Editar</a>

    </section>
</div>

{% endblock content %}