{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/teachers.css">
    <link rel="stylesheet" href="/styles/create-teacher.css">
{% endblock styles %}

{% block title %}
    <title>Teacher</title>
{% endblock title %}


{% block content %}
<div class="card">
    <section
        class="teacher" style="background: url({{ teacher.avatar }}) no-repeat center center / cover">
    </section>

    <section class="details">
        <form method="POST" action="/teachers?_method=PUT">

            <h3>Editar Professor</h3>
            {% include "teachers/partials/fields.html" %}

            <input type="hidden" name="id" value="{{ teacher.id }}">

            <div class="item" id="save-button">
                <button type="submit">Salvar</button>
            </div>
        </form>

        <form action="/teachers?_method=DELETE">
            <input type="hidden" name="id" value="{{ teacher.id }}">

            <button class="delete-button" type="submit">Deletar</button>
        </form>
    </section>
</div>

{% endblock content %}