{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/teachers.css">
{% endblock styles %}

{% block title %}
    <title>Teacher</title>
{% endblock title %}


{% block content %}

<div class="card">
    <section class="teacher" style="background: url(https://source.unsplash.com/collection/1361815/500x500) no-repeat center center / cover">

    </section>

    <section class="details">
        <h3>Detalhes</h3>

        <div class="item">
            <div>Nome Completo</div>
            <div>{{ teacher.name }}</div>
        </div>
        <div class="item">
            <div>Idade</div>
            <div>{{ teacher.age }}</div>
        </div>
        <div class="item">
            <div>Grau de escolaridade</div>
            <div>{{ teacher.school }}</div>
        </div>
        <div class="item">
            <div>Tipo de aula</div>
            <div>
                <span>{{ "Presencial" if teacher.classType == "presential" else "Distância" }}</span>
            </div>
        </div>
        <div class="item">
            <div>Acompanhamento</div>
            <div>
                {% for work in teacher.works %}
                <span>{{ work }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="item">
            <div>Desde</div>
            <div>{{ teacher.created_at }}</div>
        </div>

        <a class="button" href="/teachers/{{ teacher.id }}/edit">Editar</a>

    </section>
</div>

{% endblock content %}